.bg-dark{
  background-color: black !important;
}

.hero-bg{
  background-image: url('https://cdn.pixabay.com/photo/2021/12/09/19/01/globe-6858907_960_720.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.text-gray-900{
  color: white !important;
}